<div class="footer">

  <div class="row container d-flex gap-5" style="margin-left: 40px; ">


    <div class="card col-3 align-items-center ms-5"
      style="width:220px; text-align: center; height: 148px; border: none; background-color: #1C4B41;">

      <div class="card-body ">

        <div class="card-text mt-4 text-box1 mb-5" style="line-height: 10px;">
          <div class="d-flex mb-3" style="margin-left: 45px;">
            <img src="../../assets/1e40e569dbec080aeb443a93cf256016804f2344.png" class="logo-img me-2 mt-1 d-flex">
            <p class="logo-text">Loopify</p>
          </div>
          <p style="margin-right: -2px;">Making recycling rewarding </p>
          <p style="margin-right: 55px; width: 355px; "> for everyone. Join our community</p>
          <p style="margin-right: -35px;">and start earning points for your</p>
          <p style="margin-right: 40px;"> environmental impact.</p>

          <div class="d-flex" style="margin-left: 44px; margin-top: 20px; color: #D1D5DB;">
            <i class="fa-brands fa-facebook brand-icon"></i>
            <i class="fa-brands fa-twitter brand-icon"></i>
            <i class="fa-brands fa-instagram brand-icon"></i>
          </div>
        </div>

      </div>
    </div>


    <div class="card col-3 align-items-center "
      style="width:220px; text-align: center; height: 148px; border: none; background-color: #1C4B41; ">


      <div class="card-body ">

        <p class="title mt-4 me-5">Product</p>
        <div class="card-text mt-4 text-box1" style="line-height:20px">

          <p style="margin-right: 15px;">How It Works</p>
          <p style="margin-right: 65px;  "> Pricing</p>
          <p style="margin-right: -20px;"> Rewards Catalog</p>
        </div>

      </div>

    </div>
    <div class="card col-3 align-items-center "
      style="width:220px; text-align: center; height: 148px; border: none; background-color: #1C4B41; ">


      <div class="card-body ">

        <p class="title mt-4 me-5">Support</p>
        <div class="card-text mt-4 text-box1" style="line-height: 20px;">
          <p style="margin-right: 75px;">Help Center</p>
          <p style="margin-right: 80px;">Contact Us</p>
          <p style="margin-right: 60px;"> Privacy Policy</p>
          <p style="margin-right: 35px;">Terms of Service</p>
        </div>
      </div>

    </div>

    <div class="card col-3 align-items-center "
      style="width:220px; text-align: center; height: 148px; border: none; background-color: #1C4B41;">


      <div class="card-body me-5 ">

        <p class="title mt-4" style="margin-right: 70px;">Contact Info</p>
        <div class="card-text mt-4 text-box1">
          <div class="d-flex " style="margin-left: 70px;">
            <i class="fa-solid fa-envelope"></i>
            <p>hello&#64;ecorewards.com</p>
          </div>
          <div class="d-flex" style="margin-left: 70px;">
            <i class="fa-solid fa-phone"></i>
            <p>1-800-ECO-REWARDS</p>
          </div>
          <div class="d-flex " style="margin-left: 70px; margin-top: 8px;">
            <i class="fa-solid fa-location-dot"></i>
            <p style="margin-right: -70px; line-height: 10px;">123 Green Street, Eco City,EC</p>
          </div>
          <div>
            <p style="margin-left: -70px;line-height: 10px;">12345</p>
          </div>
        </div>

      </div>

    </div>


  </div>

  <div class="container" style="margin-left: 85px;">
    <div class="footer-divider"></div>
  </div>

  <div class="container" style="margin-right: -165px; margin-top: 35px; color: #D1D5DB;">
    <p>© 2024 Loopify. All rights reserved.</p>
  </div>
</div>