<form [formGroup]="userData" (submit)="registerOperation()">
  <div class="grid grid-cols-2 gap-4 mb-4">
    <div>
      <label for="firstName" class="block mb-2 text-sm font-medium text-gray-700">First Name</label>
      <input id="firstName" type="text" formControlName="firstName" class="form-input"
        placeholder="Enter your first name" />
      @if (getFName.touched) {
      @if (getFName.hasError('required')) {
      <div id="passwordHelpBlock" class="form-text text-danger">
        First Name Is Required.
      </div>
      } @if (getFName.hasError('minlength')) {
      <div id="passwordHelpBlock" class="form-text text-danger">
        First Name length must be greater than 3.
      </div>
      } }
    </div>

    <div>
      <label for="lastName" class="block mb-2 text-sm font-medium text-gray-700">Last Name</label>
      <input id="lastName" type="text" formControlName="lastName" class="form-input"
        placeholder="Enter your last name" />
      @if (getLName.touched) {
      @if (getLName.hasError('required')) {
      <div id="passwordHelpBlock" class="form-text text-danger">
        Last Name Is Required.
      </div>
      } @if (getLName.hasError('minlength')) {
      <div id="passwordHelpBlock" class="form-text text-danger">
        Last Name length must be greater than 3.
      </div>
      } }
    </div>
  </div>

  <div class="mb-4">
    <label for="phone" class="block mb-2 text-sm font-medium text-gray-700">Phone Number</label>
    <div class="flex">
      <button type="button" class="prefix-btn">+20</button>
      <input id="phone" type="tel" formControlName="phoneNumber" class="form-input rounded-r-lg"
        placeholder="Enter your phone number" />
    </div>
    @if (getPhoneNumber.touched) {
    @if (getPhoneNumber.hasError('required')) {
    <div id="passwordHelpBlock" class="form-text text-danger">
      Phone Number Is Required.
    </div>
    } @if (getPassword.hasError('minlength')) {
    <div id="passwordHelpBlock" class="form-text text-danger">
      Phone number should be 11 digits long
    </div>
    } }
  </div>

  <div class="mb-4">
    <label for="email" class="block mb-2 text-sm font-medium text-gray-700">Email</label>
    <input id="email" type="email" formControlName="email" class="form-input" placeholder="Enter your email" />
    @if (getEmail.touched) {
    @if (getEmail.hasError('required')) {
    <div id="passwordHelpBlock" class="form-text text-danger">
      Email Is Required.
    </div>
    } @if (getEmail.hasError('email')) {
    <div id="passwordHelpBlock" class="form-text text-danger">
      Please enter a valid email address.
    </div>
    } }
  </div>

  <div class="mb-6">
    <label for="address" class="block mb-2 text-sm font-medium text-gray-700">Address</label>
    <input id="address" type="text" formControlName="address" class="form-input" placeholder="Enter your address" />
    @if (getAddress.touched) {
    @if (getAddress.hasError('required')) {
    <div id="passwordHelpBlock" class="form-text text-danger">
      Address Is Required.
    </div>
    }
    }
  </div>

  <div class="mb-4">
    <label for="password" class="block mb-2 text-sm font-medium text-gray-700">Password</label>
    <div class="relative">
      <input type="password" id="password" formControlName="password" class="form-input pr-10"
        placeholder="Create a password" />
      <button type="button" class="absolute right-3 top-2" (click)="togglePasswordVisibility()">👁️</button>
    </div>
    @if (getPassword.touched) {
    @if (getPassword.hasError('required')) {
    <div id="passwordHelpBlock" class="form-text text-danger">
      Password Is Required.
    </div>
    }
    }
  </div>

  <div class="mb-4">
    <label for="confirmPassword" class="block mb-2 text-sm font-medium text-gray-700">Confirm Password</label>
    <div class="relative">
      <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-input pr-10"
        placeholder="Confirm your password" />
      <button type="button" class="absolute right-3 top-2" (click)="togglePasswordVisibility()">👁️</button>
    </div>
    @if (getConfirmPassword.touched) {
    @if (getConfirmPassword.hasError('required')) {
    <div id="passwordHelpBlock" class="form-text text-danger">
      Confirm Password Is Required.
    </div>
    }
    }
  </div>

  <button type="submit"
    class="w-full text-white bg-green-800 hover:bg-green-900 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-3 mb-4">
    Create Account
  </button>
</form>