.nav {
  width: 100%;
  height: 68px;
  background-color: #FFFFFF;
}

.logo {
  margin-right: 20px;
}

.logo-img {
  width: 34px;
  height: 34px;

}

.logo-title {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0;
  color: #1C4B41;
}

.user-section {

  margin-left: 700px;
}

.bell-icon {
  height: 36px;
  width: 28px;
  color: #69B31D;
  font-size: 25px;
}

.user-img {
  width: 36.8px;
  height: 36.8px;
  border-radius: 9999px;
  object-fit: cover;
  cursor: pointer;
}

.settings-box {
  position: absolute;
  top: 50px;
  right: 0;
  width: 306px;
  height: 279px;
  background: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: #E2D6D6;
  transition: color 0.3s;
  width: 29px;
  height: 29px;
}

/* .close-btn:hover {
  color: red;
  
} */
.user-setting-img {
  width: 36px;
  height: 36px;
  border-radius: 9999px;
  object-fit: cover;

}

.setting-text {
  font-family: inter;
  font-weight: 500;
  font-size: 18px;

  letter-spacing: -1%;
  color: #1C4B41;
}

.user-email-text {
  font-family: inter;
  font-weight: 500;
  font-size: 16px;

  letter-spacing: -1%;
  color: #999999;
}

.setting-icon {
  color: #999999;
  width: 8px;
  height: 16px;
}

.footer-divider {
  border-top: 1px solid #E2D6D6;
  margin-top: 10px;
  width: 100%;
  margin-left: -80px;

}