<h1 class="fw-bold">Welcome Back!</h1>
<p class="text-muted mb-4">Here's a quick summary of your activity</p>

<div class="d-flex gap-4 flex-wrap">
  <!-- Weekly Pickups -->
  <div class="card shadow-sm p-3 flex-fill" style="min-width: 300px;max-width: 700px;">
    <div class="d-flex justify-content-between align-items-center mb-2">
      <h5 class="mb-0">Weekly Pickups</h5>
      <span class="text-muted small">This Week 🚛</span>
    </div>
    <canvas baseChart
            [data]="barChartData"
            [labels]="barChartLabels"
            [type]="'bar'">
    </canvas>
  </div>

  <!-- Materials Collected -->
  <div class="card shadow-sm p-3 flex-fill" style="min-width: 300px; max-width: 400px;">
    <h5>Materials Collected</h5>
    <canvas baseChart
         
            [labels]="pieChartLabels"
            [type]="'pie'"
            
               [data]="pieChartData">
    </canvas>
  </div>
</div>
<!-- new section -->

<div class="stats-cards d-flex gap-3 flex-wrap mb-4 my-5">

  <!-- Today's Requests -->
  <div class="stat-card">
    <div class="stat-header d-flex justify-content-between align-items-start">
      <div>
        <small class="text-muted">Today's Requests</small>
        <h4 class="fw-bold">8</h4>
      </div>
      <div class="icon-box bg-light-green">
        <img src="assets/requests.svg" alt="calendar" width="20">
      </div>
    </div>
    <div class="progress-bar-container mt-3">
      <div class="progress-bar-fill bg-green" style="width: 80%;"></div>
    </div>
  </div>

  <!-- In Progress -->
  <div class="stat-card">
    <div class="stat-header d-flex justify-content-between align-items-start">
      <div>
        <small class="text-muted">In Progress</small>
        <h4 class="fw-bold">3</h4>
      </div>
      <div class="icon-box bg-light-yellow">
        <img src="assets/inporegress.svg" alt="loading" width="20">
      </div>
    </div>
    <div class="progress-bar-container mt-3">
      <div class="progress-bar-fill bg-yellow" style="width: 40%;"></div>
    </div>
  </div>

  <!-- Completed -->
  <div class="stat-card">
    <div class="stat-header d-flex justify-content-between align-items-start">
      <div>
        <small class="text-muted">Completed</small>
        <h4 class="fw-bold">5</h4>
      </div>
      <div class="icon-box bg-light-success">
        <img src="assets/complete.svg" alt="check" width="20">
      </div>
    </div>
    <div class="progress-bar-container mt-3">
      <div class="progress-bar-fill bg-success" style="width: 60%;"></div>
    </div>
  </div>

</div>


