<app-nav></app-nav>
<div class="section2 mt-3">
  <div class="inside-section container d-flex align-items-center flex-nowrap">
    
    <div class="text">
      <p class="header w-100 col-5 col-11">Start Recycling, Earn Rewards</p>
      <p class="transform">
        Transform your recycling habits into valuable rewards. Schedule pickups, earn points, and redeem amazing gifts while making a positive impact on the environment.
      </p>
      <div class="button-section2 d-flex">
        <button class="free" [routerLink]="['/register']"><span class="free-text">Get Started Free</span></button>
        <a href="#section4">
        <button class="learn"><span class="learn-text">Learn More</span></button>
        </a>
      </div>
    </div>

    <div>
      <img src="./assets/b8868acafda1f0a3e7d01be1028aa93c64baaa46.png" class="img2 img-fluid" />
    </div>

  </div>
</div>

<div class="section3 ">
    <div class="inside-section3" style="margin-bottom:90px;">
 <div class="text-section3 container align-items-center" >
     <p class="why">Why Choose Loopify</p>
     <p class="simple-steps">Simple steps to start earning rewards for your recycling efforts</p>
     
     </div>
<div class="row container gap-4 mt-5" style="margin-left: 100px; ">
<div class="card col-3 align-items-center gap-2 " style="width:340px; text-align: center; height: 270px; border: none; background-color: #F9FAFB;">
 
 
<div class="icon-box1" style="margin-top:30px ;">
            <i class="icon1 fa-solid fa-truck "></i>
            
            </div>
<div class="card-body ">
  <div class="card-title md-3 request">Request Pickup</div>
  <div class="card-text mt-4 text-box1">Schedule convenient pickup times for your recyclables with just a few taps on our mobile app.</div>
  </div>

</div>

<div class="card col-3 align-items-center gap-2 " style="width:340px; text-align: center; height: 270px; border: none; background-color: #F9FAFB;">
  
 
<div class="icon-box2" style="margin-top:30px;">
            <i class="icon2 fa-solid fa-coins" style="--fa-rotate-angle: 330deg; color: white;"></i>
            </div>

<div class="card-body ">
  <h4 class="card-title md-3 points" style="color: #1C4B41;">Earn Points</h4>
  <div class="card-text mt-4 text-box2">Get rewarded with points for every pound of material you recycle through our platform.</div>
  </div>

</div>

<div class="card col-3 align-items-center gap-2" style="width:340px; text-align: center; height: 270px;border: none; background-color: #F9FAFB; ">
  
 
<div class="icon-box3" style="margin-top:30px ;">
            <i class="icon3 fa-solid fa-gift"></i>
           
            </div>
<div class="card-body ">
  <div class="card-title md-3 gifts">Redeem Gifts</div>
  <div class="card-text mt-4 text-box3">Exchange your earned points for amazing rewards, gift cards, and eco-friendly products.</div>
  </div>

</div>
</div>
</div>
</div>



  <div class="section4 " id="section4">
    <div class="inside-section4" style="margin-top: 40px;">
 <div class="text-section4 container align-items-center" >
     <p class="how">How It Works</p>
     <p class="three-simple">Three simple steps to start earning rewards</p>
     
     </div>
<div class="row container gap-5 mt-5" style="margin-left: 100px;">
<div class="card col-3 align-items-center gap-2 " style="width:300px; text-align: center; height: 250px; border: none; background-color: #F9FAFB;">
  <span class="circle-number">1</span>
 
<div class="icon-box4" style="margin-top:70px ;">
            <i class="icon4 fa-solid fa-calendar-days "></i>
            
            </div>
<div class="card-body ">
  <div class="card-title md-3 Schedule">Schedule Pickup</div>
  <div class="card-text mt-4 text-box4">Choose a convenient time and location for our team to collect your recyclables.</div>
  </div>

</div>

<div class="card col-3 align-items-center gap-2 ms-2" style="width:300px; text-align: center; height: 250px; border: none; background-color: #F9FAFB;">
  <span class="circle-number">2</span>
 
<div class="icon-box4" style="margin-top:70px ;">
            <i class="icon4 fa-solid fa-handshake fa-rotate-by" style="--fa-rotate-angle: 330deg; color: white;"></i>
           
            </div>
<div class="card-body ">
  <h4 class="card-title md-3 Collect" style="color: #1C4B41;">We Collect</h4>
  <div class="card-text mt-4 text-box5">Our professional team arrives on time to collect and properly sort your materials.</div>
  </div>

</div>

<div class="card col-3 align-items-center gap-2 ms-3 " style="width:300px; text-align: center; height: 250px;border: none; background-color: #F9FAFB; ">
  <span class="circle-number">3</span>
 
<div class="icon-box4" style="margin-top:70px ;">
            <i class="icon4 fa-solid fa-star"></i>
           
            </div>
<div class="card-body ">
  <div class="card-title md-3 Rewards">Earn Rewards</div>
  <div class="card-text mt-4 text-box6">Receive points instantly and start redeeming them for exciting rewards and gifts.</div>
  </div>

</div>
</div>
</div>
</div>

<!-- /////////////////////////////////////////////////////////////// -->
 <div class="section3 ">
    <div class="inside-section3" style="margin-bottom:90px;">
 <div class="text-section3 container align-items-center" >
     <p class="why">What Our Users Say</p>
     <p class="simple-steps">Real experiences from our community members</p>
     
     </div>
<div class="row container gap-4 mt-5" style="margin-left: 100px; ">


<div class="card col-3 align-items-center gap-2 " style="width:340px; text-align: center; height: 270px; border: none; background-color: #F9FAFB;">

  <div class="icon-box d-flex justify-content-start" >
           <span><i class="icon1 fa-solid fa-star  star"></i></span>
           <span><i class="icon1 fa-solid fa-star  star"></i></span>
           <span><i class="icon1 fa-solid fa-star  star"></i></span>
           <span><i class="icon1 fa-solid fa-star  star"></i></span>
           <span><i class="icon1 fa-solid fa-star  star"></i></span>

            </div>
<div class="card-body ">
 
  <div class="card-text mt-4 text-box1">"EcoRewards has completely changed how I think about recycling. The pickup service is so convenient and I've already earned enough points for a gift card!"</div>
  <div class="card-title"> 
    <div class=" align-items-center d-flex">

      <img src="./assets/ec4b2d5a8922c8f21399798d8187510308a9eb44.jpg" class="img-review me-3 mt-2 ">
    
    <div class="reviewer ">
      <p class="name">Sarah Johnson</p>
      <p class="job-title ">Environmental Enthusiast</p>
    </div>
  </div>
  </div>
  </div>
</div>


<div class="card col-3 align-items-center gap-2 " style="width:340px; text-align: center; height: 270px; border: none; background-color: #F9FAFB;">

  <div class="icon-box d-flex justify-content-start" >
           <span><i class="icon1 fa-solid fa-star  star"></i></span>
           <span><i class="icon1 fa-solid fa-star  star"></i></span>
           <span><i class="icon1 fa-solid fa-star  star"></i></span>
           <span><i class="icon1 fa-solid fa-star  star"></i></span>
           <span><i class="icon1 fa-solid fa-star  star"></i></span>

            </div>
<div class="card-body ">
 
  <div class="card-text mt-4 text-box1">"The team is always punctual and professional. It's amazing how easy they've made recycling, and the rewards are just a bonus!"</div>
  <div class="card-title"> 
    <div class=" align-items-center d-flex">

      <img src="./assets/410c340aa057242400c608368f918307cdd72438.jpg" class="img-review me-3 mt-2 ">
    
    <div class="reviewer ">
      <p class="name">Mike Chen</p>
      <p class="job-title ">Small Business Owner</p>
    </div>
  </div>
  </div>
  </div>
    
</div>
<div class="card col-3 align-items-center gap-2 " style="width:340px; text-align: center; height: 270px; border: none; background-color: #F9FAFB;">
<!-- <div class="icon-box1" style="margin-top:30px ;"> -->
  <div class="icon-box d-flex justify-content-start" >
           <span><i class="icon1 fa-solid fa-star  star"></i></span>
           <span><i class="icon1 fa-solid fa-star  star"></i></span>
           <span><i class="icon1 fa-solid fa-star  star"></i></span>
           <span><i class="icon1 fa-solid fa-star  star"></i></span>
           <span><i class="icon1 fa-solid fa-star  star"></i></span>

            </div>
<div class="card-body ">
  <!-- <div class="card-title md-3 request">Request Pickup</div> -->
  <div class="card-text mt-4 text-box1">"I love that I can contribute to the environment while earning rewards.
    The app is user-friendly and the customer service is excellent."
  </div>
  <div class="card-title"> 
    <div class=" align-items-center d-flex">

      <img src="../../assets/ec901f1c0d6bdc3abb3b7f2578c96a444ee001e2.jpg" class="img-review me-3 mt-2 ">
    
    <div class="reviewer ">
      <p class="name">Lisa Rodriguez</p>
      <p class="job-title ">Teacher</p>
    </div>
  </div>
  </div>
  </div>
    
</div>
</div>
</div>
</div>

