<!-- layouts/employee-layout/employee-layout.component.html -->
<div class="d-flex vh-100">
  <!-- Sidebar -->
  <aside class="sidebar text-white p-3 d-flex flex-column justify-content-between" style="width: 250px;">
    <div>
      <!-- Logo + Project Name -->
      <div class="text-center mb-4 d-flex  align-items-center gap-3">
        <img src="favicon.ico" alt="Loopify Logo" style="width: 40px;">
        <h4 class="mt-2">Loopify</h4>
      </div>

      <!-- Nav List -->
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a class="nav-link d-flex align-items-center" routerLink="/employee" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }">
            <img src="assets/dash-wihte.svg" class="me-2 nav-icon" alt="" width="20">
            Dashboard
          </a>
        </li>


        <li class="nav-item mb-2">
          <a class="nav-link  d-flex" routerLink="/employee/pickup" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }">
            <img src="assets/pickup-g.svg" class="me-2 nav-icon" alt="" width="20"> My Pickup
          </a>
        </li>
        <li class="nav-item mb-2">
          <a class="nav-link  d-flex" routerLink="/employee/report" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }">
            <img src="assets/map-g.svg" class="me-2 nav-icon" alt="" width="20"> Map View
          </a>
        </li>
        <li class="nav-item mb-2">
          <a class="nav-link  d-flex" routerLink="/employee/report-issue">
            <img src="assets/report-g.svg" class="me-2 nav-icon" alt="" width="20"> Report Issue
          </a>
        </li>
      </ul>
    </div>

    <ul class="nav flex-column">
      <li class=" mb-2">
        <a class="nav-link d-flex align-items-center" routerLink="/employee/Profile">
          <img src="assets/profileEmp.svg" class="me-2 " alt="" width="20">
          Profile
        </a>
      </li>


      <li class="nav-item mb-2">
        <a class="nav-link d-flex text-danger" (click)="logout()">

          <img src="assets/logout.svg" class="me-2 " alt="" width="20"> LogOut
        </a>
      </li>

    </ul>
  </aside>

  <!-- Main Content -->
  <main class="flex-grow-1 p-4 bg-light">
    <router-outlet></router-outlet>
  </main>
</div>